In [1]:
import sys, os

sys.path.append(os.path.abspath(os.path.join('..', '..',)))

import autonormalize as an
import featuretools as ft

In [2]:
df = ft.demo.load_mock_customer(n_customers=80, n_products=50, n_sessions=200, 
                                n_transactions=10000, return_single_table=True)
df

,transaction_id,session_id,transaction_time,product_id,amount,customer_id,device,session_start,zip_code,join_date,date_of_birth,brand
0,9202,1,2014-01-01 00:00:00,36,81.46,8,desktop,2014-01-01 00:00:00,13244,2013-05-07 20:59:29,1973-07-28,A
1,5776,1,2014-01-01 00:01:05,36,107.59,8,desktop,2014-01-01 00:00:00,13244,2013-05-07 20:59:29,1973-07-28,A
2,1709,1,2014-01-01 00:32:30,36,57.57,8,desktop,2014-01-01 00:00:00,13244,2013-05-07 20:59:29,1973-07-28,A
3,9472,72,2014-01-03 16:36:10,36,95.89,8,mobile,2014-01-03 15:55:00,13244,2013-05-07 20:59:29,1973-07-28,A
4,7763,72,2014-01-03 16:39:25,36,115.46,8,mobile,2014-01-03 15:55:00,13244,2013-05-07 20:59:29,1973-07-28,A
5,5445,123,2014-01-05 13:25:00,36,86.06,8,desktop,2014-01-05 13:14:10,13244,2013-05-07 20:59:29,1973-07-28,A
6,6844,123,2014-01-05 14:05:05,36,115.11,8,desktop,2014-01-05 13:14:10,13244,2013-05-07 20:59:29,1973-07-28,A
7,5668,131,2014-01-05 21:00:00,36,106.50,8,tablet,2014-01-05 20:48:05,13244,2013-05-07 20:59:29,1973-07-28,A
8,7354,131,2014-01-05 21:11:55,36,100.95,8,tablet,2014-01-05 20:48:05,13244,2013-05-07 20:59:29,1973-07-28,A
9,4108,199,2014-01-08 10:39:35,36,45.26,73,tablet,2014-01-08 10:39:35,13244,2013-11-10 02:00:18,1976-03-05,A
10,6101,199,2014-01-08 10:54:45,36,138.76,73,tablet,2014-01-08 10:39:35,13244,2013-11-10 02:00:18,1976-03-05,A
11,226,199,2014-01-08 11:13:10,36,137.61,73,tablet,2014-01-08 10:39:35,13244,2013-11-10 02:00:18,1976-03-05,A
12,1449,3,2014-01-01 02:01:20,36,93.73,62,desktop,2014-01-01 01:37:30,60091,2008-08-29 19:57:59,1983-12-20,A
13,3409,172,2014-01-07 11:03:40,36,124.17,62,desktop,2014-01-07 10:49:35,60091,2008-08-29 19:57:59,1983-12-20,A
14,2456,172,2014-01-07 11:30:45,36,67.83,62,desktop,2014-01-07 10:49:35,60091,2008-08-29 19:57:59,1983-12-20,A
15,7664,4,2014-01-01 02:54:25,36,143.31,14,desktop,2014-01-01 02:33:50,13244,2013-07-20 23:34:25,1997-03-22,A
16,5371,4,2014-01-01 02:56:35,36,62.71,14,desktop,2014-01-01 02:33:50,13244,2013-07-20 23:34:25,1997-03-22,A
17,7352,41,2014-01-02 12:06:40,36,81.51,14,desktop,2014-01-02 11:52:35,13244,2013-07-20 23:34:25,1997-03-22,A
18,8030,46,2014-01-02 16:33:10,36,13.49,14,mobile,2014-01-02 16:29:55,13244,2013-07-20 23:34:25,1997-03-22,A
19,4238,46,2014-01-02 16:38:35,36,14.30,14,mobile,2014-01-02 16:29:55,13244,2013-07-20 23:34:25,1997-03-22,A
20,8382,178,2014-01-07 16:46:00,36,115.33,14,mobile,2014-01-07 16:13:30,13244,2013-07-20 23:34:25,1997-03-22,A
21,4027,178,2014-01-07 16:50:20,36,137.52,14,mobile,2014-01-07 16:13:30,13244,2013-07-20 23:34:25,1997-03-22,A
22,7563,6,2014-01-01 04:41:40,36,94.58,1,desktop,2014-01-01 04:30:50,13244,2011-04-17 10:48:33,1982-01-31,A
23,1734,6,2014-01-01 04:43:50,36,146.80,1,desktop,2014-01-01 04:30:50,13244,2011-04-17 10:48:33,1982-01-31,A
24,9095,75,2014-01-03 18:36:25,36,19.09,1,tablet,2014-01-03 18:33:10,13244,2011-04-17 10:48:33,1982-01-31,A
25,4377,75,2014-01-03 18:37:30,36,122.02,1,tablet,2014-01-03 18:33:10,13244,2011-04-17 10:48:33,1982-01-31,A
26,978,75,2014-01-03 18:54:50,36,9.25,1,tablet,2014-01-03 18:33:10,13244,2011-04-17 10:48:33,1982-01-31,A
27,3772,102,2014-01-04 18:38:20,36,88.03,1,tablet,2014-01-04 18:17:45,13244,2011-04-17 10:48:33,1982-01-31,A
28,1136,127,2014-01-05 17:26:35,36,6.87,1,desktop,2014-01-05 17:01:40,13244,2011-04-17 10:48:33,1982-01-31,A
29,4136,136,2014-01-06 01:35:10,36,8.73,1,mobile,2014-01-06 01:14:35,13244,2011-04-17 10:48:33,1982-01-31,A
...,...,...,...,...,...,...,...,...,...,...,...,...
9970,5291,87,2014-01-04 05:18:50,47,78.15,64,mobile,2014-01-04 04:49:35,60091,2008-10-29 18:12:44,2003-11-23,C
9971,1361,168,2014-01-07 07:44:20,47,22.34,77,tablet,2014-01-07 07:03:10,13244,2009-09-11 15:07:17,2000-09-05,C
9972,688,101,2014-01-04 18:01:30,47,56.82,2,mobile,2014-01-04 17:27:55,13244,2012-04-15 23:31:04,1985-09-29,C
9973,9313,119,2014-01-05 10:27:20,47,113.03,70,mobile,2014-01-05 09:54:50,13244,2008-07-29 13:14:19,2007-12-16,C
9974,7924,113,2014-01-05 05:11:00,47,126.74,29,mobile,2014-01-05 04:50:25,13244,2011-02-17 08:52:20,1978-06-24,C
9975,3172,113,2014-01-05 05:31:35,47,105.73,29,mobile,2014-01-05 04:50:25,13244,2011-02-17 08:52:20,1978-06-24,C
9976,9511,125,2014-01-05 15:48:00,47,39.57,68,mobile,2014-01-05 15:13:20,60091,2008-07-31 17:58:25,2004-12-09,C
9977,605,132,2014-01-05 21:34:40,47,126.35,22,desktop,2014-01-05 21:30:20,60091,2012-10-16 22:57:14,1980-04-05,C
9978,9319,132,2014-01-05 21:54:10,47,140.07,22,desktop,2014-01-05 21:30:20,60091,2012-10-16 22:57:14,1980-04-05,C
9979,2910,135,2014-01-06 00:31:15,47,103.45,47,tablet,2014-01-06 00:31:15,60091,2009-04-05 22:45:24,1970-09-24,C
9980,2483,135,2014-01-06 00:37:45,47,119.44,47,tablet,2014-01-06 00:31:15,60091,2009-04-05 22:45:24,1970-09-24,C
9981,887,171,2014-01-07 10:42:00,47,73.61,47,tablet,2014-01-07 10:00:50,60091,2009-04-05 22:45:24,1970-09-24,C
9982,9437,195,2014-01-08 07:34:20,47,129.21,47,desktop,2014-01-08 07:31:05,60091,2009-04-05 22:45:24,1970-09-24,C
9983,401,195,2014-01-08 07:40:50,47,90.78,47,desktop,2014-01-08 07:31:05,60091,2009-04-05 22:45:24,1970-09-24,C
9984,4773,141,2014-01-06 06:11:25,47,139.29,79,mobile,2014-01-06 06:02:45,60091,2009-10-10 20:14:10,1985-06-22,C
9985,7337,141,2014-01-06 06:40:40,47,54.26,79,mobile,2014-01-06 06:02:45,60091,2009-10-10 20:14:10,1985-06-22,C
9986,7397,147,2014-01-06 11:34:15,47,95.84,51,mobile,2014-01-06 11:34:15,13244,2011-06-03 07:13:37,1993-06-26,C
9987,628,147,2014-01-06 12:13:15,47,126.13,51,mobile,2014-01-06 11:34:15,13244,2011-06-03 07:13:37,1993-06-26,C
9988,6036,194,2014-01-08 06:51:00,47,139.43,51,mobile,2014-01-08 06:36:55,13244,2011-06-03 07:13:37,1993-06-26,C
9989,4158,151,2014-01-06 15:03:20,47,95.99,18,mobile,2014-01-06 14:56:50,13244,2012-12-29 06:28:55,1970-10-07,C
9990,1509,151,2014-01-06 15:23:55,47,8.06,18,mobile,2014-01-06 14:56:50,13244,2012-12-29 06:28:55,1970-10-07,C
9991,5069,151,2014-01-06 15:58:35,47,59.11,18,mobile,2014-01-06 14:56:50,13244,2012-12-29 06:28:55,1970-10-07,C
9992,4453,159,2014-01-06 23:16:15,47,61.86,63,desktop,2014-01-06 22:31:50,13244,2011-12-09 00:26:06,1986-07-25,C
9993,6202,161,2014-01-07 01:00:15,47,125.92,78,desktop,2014-01-07 00:24:30,60091,2008-09-20 08:24:58,1991-08-18,C
9994,1219,177,2014-01-07 15:52:55,47,144.37,76,tablet,2014-01-07 15:17:10,13244,2008-03-26 20:39:03,2002-03-24,C
9995,9500,177,2014-01-07 16:11:20,47,90.44,76,tablet,2014-01-07 15:17:10,13244,2008-03-26 20:39:03,2002-03-24,C
9996,4018,183,2014-01-07 20:40:00,47,45.42,16,tablet,2014-01-07 20:40:00,13244,2008-07-09 21:36:26,1976-12-18,C
9997,2443,183,2014-01-07 21:14:40,47,9.73,16,tablet,2014-01-07 20:40:00,13244,2008-07-09 21:36:26,1976-12-18,C
9998,6676,184,2014-01-07 22:26:10,47,19.68,42,desktop,2014-01-07 21:28:45,13244,2010-08-15 12:53:18,1989-01-19,C
9999,1637,190,2014-01-08 04:08:30,47,104.52,42,tablet,2014-01-08 03:17:35,13244,2010-08-15 12:53:18,1989-01-19,C

In [3]:
df.dtypes

transaction_id               int64
session_id                   int64
transaction_time    datetime64[ns]
product_id                category
amount                     float64
customer_id                  int64
device                      object
session_start       datetime64[ns]
zip_code                    object
join_date           datetime64[ns]
date_of_birth       datetime64[ns]
brand                       object
dtype: object

In [4]:
deps = an.find_dependencies(df)

100%|██████████| 10/10 [00:13<00:00,  1.51s/it]

In [5]:
print(deps)

 {transaction_time}  --> transaction_id
 {amount,join_date}  {amount,date_of_birth}  {transaction_id}  {amount,product_id}  {session_start}  {amount,customer_id}  {transaction_time}  --> session_id
 {transaction_id}  --> transaction_time
 {amount,join_date}  {amount,date_of_birth}  {amount,session_id}  {transaction_id}  {amount,device,brand,zip_code}  {amount,session_start}  {amount,customer_id}  {transaction_time}  --> product_id
 {transaction_id}  {transaction_time}  --> amount
 {date_of_birth}  {session_id}  {transaction_id}  {amount,product_id}  {join_date}  {session_start}  {transaction_time}  --> customer_id
 {session_id}  {amount,join_date}  {amount,date_of_birth}  {transaction_id}  {amount,product_id}  {session_start}  {amount,customer_id}  {transaction_time}  --> device
 {session_id}  {amount,join_date}  {amount,date_of_birth}  {transaction_id}  {amount,product_id}  {amount,customer_id}  {transaction_time}  --> session_start
 {date_of_birth}  {session_id}  {transaction_id}  {amount,product_id}  {customer_id}  {amount,device,brand}  {join_date}  {session_start}  {transaction_time}  --> zip_code
 {date_of_birth}  {session_id}  {transaction_id}  {amount,product_id}  {customer_id}  {session_start}  {transaction_time}  --> join_date
 {session_id}  {transaction_id}  {amount,product_id}  {customer_id}  {join_date}  {session_start}  {transaction_time}  --> date_of_birth
 {amount,join_date}  {amount,date_of_birth}  {amount,session_id}  {transaction_id}  {amount,session_start}  {amount,customer_id}  {transaction_time}  {product_id}  --> brand

In [6]:
entityset = an.make_entityset(df, deps, name="Customer Transactions", time_index='transaction_time')

In [7]:
entityset.plot()

In [8]:
fm, features = ft.dfs(entityset=entityset, target_entity='session_id')
features

[<Feature: customer_id>,
 <Feature: device>,
 <Feature: SUM(transaction_id.amount)>,
 <Feature: STD(transaction_id.amount)>,
 <Feature: MAX(transaction_id.amount)>,
 <Feature: SKEW(transaction_id.amount)>,
 <Feature: MIN(transaction_id.amount)>,
 <Feature: MEAN(transaction_id.amount)>,
 <Feature: COUNT(transaction_id)>,
 <Feature: NUM_UNIQUE(transaction_id.product_id)>,
 <Feature: MODE(transaction_id.product_id)>,
 <Feature: DAY(session_start)>,
 <Feature: YEAR(session_start)>,
 <Feature: MONTH(session_start)>,
 <Feature: WEEKDAY(session_start)>,
 <Feature: customer_id.zip_code>,
 <Feature: NUM_UNIQUE(transaction_id.DAY(transaction_time))>,
 <Feature: NUM_UNIQUE(transaction_id.YEAR(transaction_time))>,
 <Feature: NUM_UNIQUE(transaction_id.MONTH(transaction_time))>,
 <Feature: NUM_UNIQUE(transaction_id.WEEKDAY(transaction_time))>,
 <Feature: NUM_UNIQUE(transaction_id.product_id.brand)>,
 <Feature: MODE(transaction_id.DAY(transaction_time))>,
 <Feature: MODE(transaction_id.YEAR(transaction_time))>,
 <Feature: MODE(transaction_id.MONTH(transaction_time))>,
 <Feature: MODE(transaction_id.WEEKDAY(transaction_time))>,
 <Feature: MODE(transaction_id.product_id.brand)>,
 <Feature: customer_id.COUNT(session_id)>,
 <Feature: customer_id.NUM_UNIQUE(session_id.device)>,
 <Feature: customer_id.MODE(session_id.device)>,
 <Feature: customer_id.SUM(transaction_id.amount)>,
 <Feature: customer_id.STD(transaction_id.amount)>,
 <Feature: customer_id.MAX(transaction_id.amount)>,
 <Feature: customer_id.SKEW(transaction_id.amount)>,
 <Feature: customer_id.MIN(transaction_id.amount)>,
 <Feature: customer_id.MEAN(transaction_id.amount)>,
 <Feature: customer_id.COUNT(transaction_id)>,
 <Feature: customer_id.NUM_UNIQUE(transaction_id.product_id)>,
 <Feature: customer_id.MODE(transaction_id.product_id)>,
 <Feature: customer_id.DAY(join_date)>,
 <Feature: customer_id.DAY(date_of_birth)>,
 <Feature: customer_id.YEAR(join_date)>,
 <Feature: customer_id.YEAR(date_of_birth)>,
 <Feature: customer_id.MONTH(join_date)>,
 <Feature: customer_id.MONTH(date_of_birth)>,
 <Feature: customer_id.WEEKDAY(join_date)>,
 <Feature: customer_id.WEEKDAY(date_of_birth)>]

In [12]:
str(entityset.relationships[0])

'<Relationship: transaction_id.session_id -> session_id.session_id>'