# AUTONORMALIZE DEMO 
Using Autonormalize to normalize a kaggle dataset about food purchasing.

In [1]:
import os

import pandas as pd
import autonormalize as an

In [2]:
food_df = pd.read_csv(os.path.join(os.getcwd(), 'autonormalize/downloads/food.csv'), encoding='latin1')
food_df = food_df.drop(columns=food_df.columns[10:])
print("Rows: "+ str(food_df.shape[0]))
print("Columns: " + str(food_df.shape[1]))
food_df.head(3)

Rows: 21477
Columns: 10

,Area Abbreviation,Area Code,Area,Item Code,Item,Element Code,Element,Unit,latitude,longitude
0,AFG,2,Afghanistan,2511,Wheat and products,5142,Food,1000 tonnes,33.94,67.71
1,AFG,2,Afghanistan,2805,Rice (Milled Equivalent),5142,Food,1000 tonnes,33.94,67.71
2,AFG,2,Afghanistan,2513,Barley and products,5521,Feed,1000 tonnes,33.94,67.71

This dataset has 21477 rows and we've cut it down to 10 columns. As you can see, there are many data dependencies between that columns that obviously should be split up. For example, Area, Area Code, and Area Abreviation obviously should be dependent on each other.

In [3]:
deps_approx = an.find_dependencies(food_df, 0.96)

100%|██████████| 10/10 [00:02<00:00,  3.80it/s]

In [4]:
groupings = an.normalize_dependencies(deps_approx)
for grp in groupings:
    print('\n~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~\n')
    print(grp)
    print(grp.get_prim_key())

~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~

 --> Area Code
 --> Item Code
 --> Item
 {Element}  --> Element Code
 {Element Code}  --> Element
['Item', 'Item Code', 'Element', 'Area Code']

~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~

 {Area Abbreviation}  {Area}  --> Area Code
 {Area}  {Area Code}  --> Area Abbreviation
 {Area Abbreviation}  {Area Code}  --> Area
 {Area Abbreviation}  {Area}  {Area Code}  --> latitude
 {Area Code}  {Area}  {Area Code}  --> longitude
['Area Code']

~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~

 --> latitude
 {latitude}  --> Unit
['latitude']

In [5]:
new_dfs = an.split_dataframe(food_df, groupings)

In [6]:
new_dfs[0]

,Area Code,Item Code,Item,Element Code,Element
0,2,2511,Wheat and products,5142,Food
1,2,2805,Rice (Milled Equivalent),5142,Food
2,2,2513,Barley and products,5521,Feed
3,2,2513,Barley and products,5142,Food
4,2,2514,Maize and products,5521,Feed
5,2,2514,Maize and products,5142,Food
6,2,2517,Millet and products,5142,Food
7,2,2520,"Cereals, Other",5142,Food
8,2,2531,Potatoes and products,5142,Food
9,2,2536,Sugar cane,5521,Feed
10,2,2537,Sugar beet,5521,Feed
11,2,2542,Sugar (Raw Equivalent),5142,Food
12,2,2543,"Sweeteners, Other",5142,Food
13,2,2745,Honey,5142,Food
14,2,2549,"Pulses, Other and products",5521,Feed
15,2,2549,"Pulses, Other and products",5142,Food
16,2,2551,Nuts and products,5142,Food
17,2,2560,Coconuts - Incl Copra,5142,Food
18,2,2561,Sesame seed,5142,Food
19,2,2563,Olives (including preserved),5142,Food
20,2,2571,Soyabean Oil,5142,Food
21,2,2572,Groundnut Oil,5142,Food
22,2,2573,Sunflowerseed Oil,5142,Food
23,2,2574,Rape and Mustard Oil,5142,Food
24,2,2575,Cottonseed Oil,5142,Food
25,2,2577,Palm Oil,5142,Food
26,2,2579,Sesameseed Oil,5142,Food
27,2,2580,Olive Oil,5142,Food
28,2,2586,"Oilcrops Oil, Other",5142,Food
29,2,2601,Tomatoes and products,5142,Food
...,...,...,...,...,...
21447,181,2765,Crustaceans,5142,Food
21448,181,2766,Cephalopods,5142,Food
21449,181,2767,"Molluscs, Other",5142,Food
21450,181,2775,Aquatic Plants,5142,Food
21451,181,2680,Infant food,5142,Food
21452,181,2905,Cereals - Excluding Beer,5521,Feed
21453,181,2905,Cereals - Excluding Beer,5142,Food
21454,181,2907,Starchy Roots,5142,Food
21455,181,2908,Sugar Crops,5142,Food
21456,181,2909,Sugar & Sweeteners,5142,Food
21457,181,2911,Pulses,5142,Food
21458,181,2912,Treenuts,5142,Food
21459,181,2913,Oilcrops,5521,Feed
21460,181,2913,Oilcrops,5142,Food
21461,181,2914,Vegetable Oils,5142,Food
21462,181,2918,Vegetables,5142,Food
21463,181,2919,Fruits - Excluding Wine,5142,Food
21464,181,2922,Stimulants,5142,Food
21465,181,2923,Spices,5142,Food
21466,181,2924,Alcoholic Beverages,5142,Food
21467,181,2943,Meat,5142,Food
21468,181,2945,Offals,5142,Food
21469,181,2946,Animal fats,5142,Food
21470,181,2949,Eggs,5142,Food
21471,181,2948,Milk - Excluding Butter,5521,Feed
21472,181,2948,Milk - Excluding Butter,5142,Food
21473,181,2960,"Fish, Seafood",5521,Feed
21474,181,2960,"Fish, Seafood",5142,Food
21475,181,2961,"Aquatic Products, Other",5142,Food
21476,181,2928,Miscellaneous,5142,Food

In [7]:
new_dfs[1]

,Area Abbreviation,Area Code,Area,latitude,longitude
0,ARM,1,Armenia,40.07,45.04
1,AFG,2,Afghanistan,33.94,67.71
2,ALB,3,Albania,41.15,20.17
3,DZA,4,Algeria,28.03,1.66
4,AGO,7,Angola,-11.20,17.87
5,ATG,8,Antigua and Barbuda,17.06,-61.80
6,ARG,9,Argentina,-38.42,-63.62
7,AUS,10,Australia,-25.27,133.78
8,AUT,11,Austria,47.52,14.55
9,AZE,12,Bahamas,25.03,-77.40
10,BRB,14,Barbados,13.19,-59.54
11,BGD,16,Bangladesh,23.68,90.36
12,BMU,17,Bermuda,32.32,-64.76
13,BOL,19,Bolivia (Plurinational State of),-16.29,-63.59
14,BWA,20,Botswana,-22.33,24.68
15,BRA,21,Brazil,-14.24,-51.93
16,BLZ,23,Belize,17.19,-88.50
17,SLB,25,Solomon Islands,-9.65,160.16
18,BRN,26,Brunei Darussalam,4.54,114.73
19,BGR,27,Bulgaria,42.73,25.49
20,MMR,28,Myanmar,21.91,95.96
21,CMR,32,Cameroon,7.37,12.35
22,CAN,33,Canada,56.13,-106.35
23,CPV,35,Cabo Verde,16.00,-24.01
24,CAF,37,Central African Republic,6.61,20.94
25,LKA,38,Sri Lanka,7.87,80.77
26,TCD,39,Chad,15.45,18.73
27,CHL,40,Chile,-35.68,-71.54
28,CHN,41,"China, mainland",35.86,104.20
29,COL,44,Colombia,4.57,-74.30
...,...,...,...,...,...
144,SWE,210,Sweden,60.13,18.64
145,CHE,211,Switzerland,46.82,8.23
146,TKM,213,Turkmenistan,38.97,59.56
147,CHN,214,"China, Taiwan Province of",23.70,120.96
148,TZA,215,United Republic of Tanzania,-6.37,34.89
149,THA,216,Thailand,15.87,100.99
150,TGO,217,Togo,8.62,0.82
151,TTO,220,Trinidad and Tobago,10.69,-61.22
152,OMN,221,Oman,21.51,55.92
153,TUN,222,Tunisia,33.89,9.54
154,TUR,223,Turkey,38.96,35.24
155,ARE,225,United Arab Emirates,23.42,53.85
156,UGA,226,Uganda,1.37,32.29
157,GBR,229,United Kingdom,55.38,-3.44
158,UKR,230,Ukraine,48.38,31.17
159,USA,231,United States of America,37.09,-95.71
160,BFA,233,Burkina Faso,12.24,-1.56
161,URY,234,Uruguay,-32.52,-55.77
162,UZB,235,Uzbekistan,41.38,64.59
163,VEN,236,Venezuela (Bolivarian Republic of),6.42,-66.59
164,VNM,237,Viet Nam,14.06,108.28
165,ETH,238,Ethiopia,9.15,40.49
166,WSM,244,Samoa,-13.76,-172.10
167,YEM,249,Yemen,15.55,48.52
168,ZMB,251,Zambia,-13.13,27.85
169,BEL,255,Belgium,50.50,4.47
170,LUX,256,Luxembourg,49.82,6.13
171,SRB,272,Serbia,44.02,21.01
172,MNE,273,Montenegro,42.71,19.37
173,SDN,276,Sudan,12.86,30.22

In [8]:
new_dfs[2]

            Unit  latitude
0    1000 tonnes    -40.90
1    1000 tonnes    -38.42
2    1000 tonnes    -35.68
3    1000 tonnes    -32.52
4    1000 tonnes    -30.56
5    1000 tonnes    -29.61
6    1000 tonnes    -26.52
7    1000 tonnes    -25.27
8    1000 tonnes    -23.44
9    1000 tonnes    -22.96
10   1000 tonnes    -22.33
11   1000 tonnes    -20.90
12   1000 tonnes    -20.35
13   1000 tonnes    -19.02
14   1000 tonnes    -18.77
15   1000 tonnes    -18.67
16   1000 tonnes    -17.68
17   1000 tonnes    -16.58
18   1000 tonnes    -16.29
19   1000 tonnes    -15.38
20   1000 tonnes    -14.24
21   1000 tonnes    -13.76
22   1000 tonnes    -13.25
23   1000 tonnes    -13.13
24   1000 tonnes    -11.20
25   1000 tonnes     -9.65
26   1000 tonnes     -9.19
27   1000 tonnes     -8.87
28   1000 tonnes     -6.37
29   1000 tonnes     -3.37
..           ...       ...
143  1000 tonnes     45.10
144  1000 tonnes     45.94
145  1000 tonnes     46.15
146  1000 tonnes     46.23
147  1000 tonnes     46.82
148  1000 tonnes     46.86
149  1000 tonnes     47.16
150  1000 tonnes     47.41
151  1000 tonnes     47.52
152  1000 tonnes     48.02
153  1000 tonnes     48.38
154  1000 tonnes     48.67
155  1000 tonnes     49.82
156  1000 tonnes     50.50
157  1000 tonnes     51.17
158  1000 tonnes     51.92
159  1000 tonnes     52.13
160  1000 tonnes     53.41
161  1000 tonnes     53.71
162  1000 tonnes     55.17
163  1000 tonnes     55.38
164  1000 tonnes     56.13
165  1000 tonnes     56.26
166  1000 tonnes     56.88
167  1000 tonnes     58.60
168  1000 tonnes     60.13
169  1000 tonnes     60.47
170  1000 tonnes     61.52
171  1000 tonnes     61.92
172  1000 tonnes     64.96

[173 rows x 2 columns]