# AUTONORMALIZE DEMO 
Using Autonormalize to normalize a kaggle dataset about food purchasing.

In [1]:
import os

import pandas as pd
import autonormalize as an

In [2]:
food_df = pd.read_csv(os.path.join(os.getcwd(), 'autonormalize/downloads/food.csv'), encoding='latin1')
food_df = food_df.drop(columns=food_df.columns[10:])
print("Rows: "+ str(food_df.shape[0]))
print("Columns: " + str(food_df.shape[1]))
food_df.head(3)

Rows: 21477
Columns: 10

,Area Abbreviation,Area Code,Area,Item Code,Item,Element Code,Element,Unit,latitude,longitude
0,AFG,2,Afghanistan,2511,Wheat and products,5142,Food,1000 tonnes,33.94,67.71
1,AFG,2,Afghanistan,2805,Rice (Milled Equivalent),5142,Food,1000 tonnes,33.94,67.71
2,AFG,2,Afghanistan,2513,Barley and products,5521,Feed,1000 tonnes,33.94,67.71

This dataset has 21477 rows and we've cut it down to 10 columns. As you can see, there are many data dependencies between that columns that obviously should be split up. For example, Area, Area Code, and Area Abreviation obviously should be dependent on each other.

In [3]:
deps_exact = an.find_dependencies(food_df, 1.00)
deps_approx = an.find_dependencies(food_df, 0.96)
print("\nExact dependencies...")
print(deps_exact)
print("\nApproximate dependencies...")
print(deps_approx)

100%|██████████| 10/10 [00:01<00:00,  9.90it/s]
100%|██████████| 10/10 [00:02<00:00,  3.40it/s]

Exact dependencies...
 {Area}  {Area Code}  --> Area Abbreviation
 {Area}  --> Area Code
 {Area Code}  --> Area
 --> Item Code
 --> Item
 {Element}  --> Element Code
 {Element Code}  --> Element
 {Item}  {Area Code}  {Area}  {longitude}  {Element Code}  {latitude}  {Item Code}  {Element}  {Area Abbreviation}  --> Unit
 {Area}  {Area Code}  --> latitude
 {Area}  {Area Code}  --> longitude

Approximate dependencies...
 {Area}  {Area Code}  --> Area Abbreviation
 {Area}  {Area Abbreviation}  --> Area Code
 {Area Abbreviation}  {Area Code}  --> Area
 --> Item Code
 --> Item
 {Element}  --> Element Code
 {Element Code}  --> Element
 {Item}  {Area Code}  {Area}  {longitude}  {Element Code}  {latitude}  {Item Code}  {Element}  {Area Abbreviation}  --> Unit
 {Area}  {Area Abbreviation}  {Area Code}  --> latitude
 {Area}  {Area Abbreviation}  {Area Code}  --> longitude

In [4]:
groupings = an.normalize_dependencies(deps_approx)
for grp in groupings:
    print('\n~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~\n')
    print(grp)

~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~

 --> Area
 --> Item Code
 --> Item
 {Element}  --> Element Code
 {Element Code}  --> Element

~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~

 {Area Abbreviation}  {Area Code}  --> Area
 {Area}  {Area Code}  --> Area Abbreviation
 {Area}  {Area Abbreviation}  --> Area Code
 {Area}  {Area Abbreviation}  {Area Code}  --> latitude
 {Area}  {Area Abbreviation}  {Area Code}  --> longitude

~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~

 --> longitude
 {longitude}  --> Unit

In [7]:
groupings[1].find_candidate_keys()

[{'Area Abbreviation'}, {'Area Code'}, {'Area'}]

In [8]:
new_dfs = an.split_dataframe(food_df, groupings)

In [9]:
new_dfs

[              Area  Item Code                          Item  Element Code  \
 0      Afghanistan       2511            Wheat and products          5142
 1      Afghanistan       2805      Rice (Milled Equivalent)          5142
 2      Afghanistan       2513           Barley and products          5521
 3      Afghanistan       2513           Barley and products          5142
 4      Afghanistan       2514            Maize and products          5521
 5      Afghanistan       2514            Maize and products          5142
 6      Afghanistan       2517           Millet and products          5142
 7      Afghanistan       2520                Cereals, Other          5142
 8      Afghanistan       2531         Potatoes and products          5142
 9      Afghanistan       2536                    Sugar cane          5521
 10     Afghanistan       2537                    Sugar beet          5521
 11     Afghanistan       2542        Sugar (Raw Equivalent)          5142
 12     Afghanistan       2543             Sweeteners, Other          5142
 13     Afghanistan       2745                         Honey          5142
 14     Afghanistan       2549    Pulses, Other and products          5521
 15     Afghanistan       2549    Pulses, Other and products          5142
 16     Afghanistan       2551             Nuts and products          5142
 17     Afghanistan       2560         Coconuts - Incl Copra          5142
 18     Afghanistan       2561                   Sesame seed          5142
 19     Afghanistan       2563  Olives (including preserved)          5142
 20     Afghanistan       2571                  Soyabean Oil          5142
 21     Afghanistan       2572                 Groundnut Oil          5142
 22     Afghanistan       2573             Sunflowerseed Oil          5142
 23     Afghanistan       2574          Rape and Mustard Oil          5142
 24     Afghanistan       2575                Cottonseed Oil          5142
 25     Afghanistan       2577                      Palm Oil          5142
 26     Afghanistan       2579                Sesameseed Oil          5142
 27     Afghanistan       2580                     Olive Oil          5142
 28     Afghanistan       2586           Oilcrops Oil, Other          5142
 29     Afghanistan       2601         Tomatoes and products          5142
 ...            ...        ...                           ...           ...
 21447     Zimbabwe       2765                   Crustaceans          5142
 21448     Zimbabwe       2766                   Cephalopods          5142
 21449     Zimbabwe       2767               Molluscs, Other          5142
 21450     Zimbabwe       2775                Aquatic Plants          5142
 21451     Zimbabwe       2680                   Infant food          5142
 21452     Zimbabwe       2905      Cereals - Excluding Beer          5521
 21453     Zimbabwe       2905      Cereals - Excluding Beer          5142
 21454     Zimbabwe       2907                 Starchy Roots          5142
 21455     Zimbabwe       2908                   Sugar Crops          5142
 21456     Zimbabwe       2909            Sugar & Sweeteners          5142
 21457     Zimbabwe       2911                        Pulses          5142
 21458     Zimbabwe       2912                      Treenuts          5142
 21459     Zimbabwe       2913                      Oilcrops          5521
 21460     Zimbabwe       2913                      Oilcrops          5142
 21461     Zimbabwe       2914                Vegetable Oils          5142
 21462     Zimbabwe       2918                    Vegetables          5142
 21463     Zimbabwe       2919       Fruits - Excluding Wine          5142
 21464     Zimbabwe       2922                    Stimulants          5142
 21465     Zimbabwe       2923                        Spices          5142
 21466     Zimbabwe       2924           Alcoholic Beverages          5142
 21467     Zimbabwe       2943                          Meat          5142
 21468     Zimbabwe       2945                        Offals          5142
 21469     Zimbabwe       2946                   Animal fats          5142
 21470     Zimbabwe       2949                          Eggs          5142
 21471     Zimbabwe       2948       Milk - Excluding Butter          5521
 21472     Zimbabwe       2948       Milk - Excluding Butter          5142
 21473     Zimbabwe       2960                 Fish, Seafood          5521
 21474     Zimbabwe       2960                 Fish, Seafood          5142
 21475     Zimbabwe       2961       Aquatic Products, Other          5142
 21476     Zimbabwe       2928                 Miscellaneous          5142

       Element
 0        Food
 1        Food
 2        Feed
 3        Food
 4        Feed
 5        Food
 6        Food
 7        Food
 8        Food
 9        Feed
 10       Feed
 11       Food
 12       Food
 13       Food
 14       Feed
 15       Food
 16       Food
 17       Food
 18       Food
 19       Food
 20       Food
 21       Food
 22       Food
 23       Food
 24       Food
 25       Food
 26       Food
 27       Food
 28       Food
 29       Food
 ...       ...
 21447    Food
 21448    Food
 21449    Food
 21450    Food
 21451    Food
 21452    Feed
 21453    Food
 21454    Food
 21455    Food
 21456    Food
 21457    Food
 21458    Food
 21459    Feed
 21460    Food
 21461    Food
 21462    Food
 21463    Food
 21464    Food
 21465    Food
 21466    Food
 21467    Food
 21468    Food
 21469    Food
 21470    Food
 21471    Feed
 21472    Food
 21473    Feed
 21474    Food
 21475    Food
 21476    Food

 [21477 rows x 5 columns],
     Area Abbreviation  Area Code                                Area  \
 0                 AFG          2                         Afghanistan
 1                 AGO          7                              Angola
 2                 ALB          3                             Albania
 3                 ARE        225                United Arab Emirates
 4                 ARG          9                           Argentina
 5                 ARM          1                             Armenia
 6                 ATG          8                 Antigua and Barbuda
 7                 AUS         10                           Australia
 8                 AUT         11                             Austria
 9                 AZE         52                          Azerbaijan
 10                BEL        255                             Belgium
 11                BEN         53                               Benin
 12                BFA        233                        Burkina Faso
 13                BGD         16                          Bangladesh
 14                BGR         27                            Bulgaria
 15                BIH         80              Bosnia and Herzegovina
 16                BLR         57                             Belarus
 17                BLZ         23                              Belize
 18                BMU         17                             Bermuda
 19                BOL         19    Bolivia (Plurinational State of)
 20                BRA         21                              Brazil
 21                BRB         14                            Barbados
 22                BRN         26                   Brunei Darussalam
 23                BWA         20                            Botswana
 24                CAF         37            Central African Republic
 25                CAN         33                              Canada
 26                CHE        211                         Switzerland
 27                CHL         40                               Chile
 28                CHN         41                     China, mainland
 29                CIV        107                       Côte d'Ivoire
 ..                ...        ...                                 ...
 139               STP        193               Sao Tome and Principe
 140               SUR        207                            Suriname
 141               SVK        199                            Slovakia
 142               SVN        198                            Slovenia
 143               SWE        210                              Sweden
 144               SWZ        209                           Swaziland
 145               TCD         39                                Chad
 146               TGO        217                                Togo
 147               THA        216                            Thailand
 148               TJK        208                          Tajikistan
 149               TKM        213                        Turkmenistan
 150               TLS        176                         Timor-Leste
 151               TTO        220                 Trinidad and Tobago
 152               TUN        222                             Tunisia
 153               TUR        223                              Turkey
 154               TZA        215         United Republic of Tanzania
 155               UGA        226                              Uganda
 156               UKR        230                             Ukraine
 157               URY        234                             Uruguay
 158               USA        231            United States of America
 159               UZB        235                          Uzbekistan
 160               VCT        191    Saint Vincent and the Grenadines
 161               VEN        236  Venezuela (Bolivarian Republic of)
 162               VNM        237                            Viet Nam
 163               VUT        155                             Vanuatu
 164               WSM        244                               Samoa
 165               YEM        249                               Yemen
 166               ZAF        202                        South Africa
 167               ZMB        251                              Zambia
 168               ZWE        181                            Zimbabwe

      latitude  longitude
 0       33.94      67.71
 1      -11.20      17.87
 2       41.15      20.17
 3       23.42      53.85
 4      -38.42     -63.62
 5       40.07      45.04
 6       17.06     -61.80
 7      -25.27     133.78
 8       47.52      14.55
 9       40.14      47.58
 10      50.50       4.47
 11       9.31       2.32
 12      12.24      -1.56
 13      23.68      90.36
 14      42.73      25.49
 15      43.92      17.68
 16      53.71      27.95
 17      17.19     -88.50
 18      32.32     -64.76
 19     -16.29     -63.59
 20     -14.24     -51.93
 21      13.19     -59.54
 22       4.54     114.73
 23     -22.33      24.68
 24       6.61      20.94
 25      56.13    -106.35
 26      46.82       8.23
 27     -35.68     -71.54
 28      35.86     104.20
 29       7.54      -5.55
 ..        ...        ...
 139      0.19       6.61
 140      3.92     -56.03
 141     48.67      19.70
 142     46.15      15.00
 143     60.13      18.64
 144    -26.52      31.47
 145     15.45      18.73
 146      8.62       0.82
 147     15.87     100.99
 148     38.86      71.28
 149     38.97      59.56
 150     -8.87     125.73
 151     10.69     -61.22
 152     33.89       9.54
 153     38.96      35.24
 154     -6.37      34.89
 155      1.37      32.29
 156     48.38      31.17
 157    -32.52     -55.77
 158     37.09     -95.71
 159     41.38      64.59
 160     12.98     -61.29
 161      6.42     -66.59
 162     14.06     108.28
 163    -15.38     166.96
 164    -13.76    -172.10
 165     15.55      48.52
 166    -30.56      22.94
 167    -13.13      27.85
 168    -19.02      29.15

 [169 rows x 5 columns],
             Unit  longitude
 0    1000 tonnes    -172.10
 1    1000 tonnes    -168.73
 2    1000 tonnes    -149.41
 3    1000 tonnes    -106.35
 4    1000 tonnes    -102.55
 5    1000 tonnes     -95.71
 6    1000 tonnes     -90.23
 7    1000 tonnes     -88.90
 8    1000 tonnes     -88.50
 9    1000 tonnes     -86.24
 10   1000 tonnes     -85.21
 11   1000 tonnes     -83.75
 12   1000 tonnes     -80.78
 13   1000 tonnes     -78.18
 14   1000 tonnes     -77.78
 15   1000 tonnes     -77.40
 16   1000 tonnes     -77.30
 17   1000 tonnes     -75.02
 18   1000 tonnes     -74.30
 19   1000 tonnes     -72.29
 20   1000 tonnes     -71.54
 21   1000 tonnes     -70.16
 22   1000 tonnes     -66.59
 23   1000 tonnes     -64.76
 24   1000 tonnes     -63.62
 25   1000 tonnes     -63.59
 26   1000 tonnes     -62.78
 27   1000 tonnes     -61.80
 28   1000 tonnes     -61.60
 29   1000 tonnes     -61.37
 ..           ...        ...
 144  1000 tonnes      74.77
 145  1000 tonnes      78.96
 146  1000 tonnes      80.77
 147  1000 tonnes      84.12
 148  1000 tonnes      90.36
 149  1000 tonnes      95.96
 150  1000 tonnes     100.99
 151  1000 tonnes     101.98
 152  1000 tonnes     102.50
 153  1000 tonnes     103.85
 154  1000 tonnes     104.20
 155  1000 tonnes     104.99
 156  1000 tonnes     105.32
 157  1000 tonnes     108.28
 158  1000 tonnes     113.54
 159  1000 tonnes     113.92
 160  1000 tonnes     114.11
 161  1000 tonnes     114.73
 162  1000 tonnes     120.96
 163  1000 tonnes     121.77
 164  1000 tonnes     125.73
 165  1000 tonnes     127.51
 166  1000 tonnes     127.77
 167  1000 tonnes     133.78
 168  1000 tonnes     138.25
 169  1000 tonnes     160.16
 170  1000 tonnes     165.62
 171  1000 tonnes     166.96
 172  1000 tonnes     174.89
 173  1000 tonnes     179.41

 [174 rows x 2 columns]]