In [1]:
import autonormalize as an
import featuretools as ft

In [2]:
df = ft.demo.load_mock_customer(return_single_table=True)
df

,transaction_id,session_id,transaction_time,product_id,amount,customer_id,device,session_start,zip_code,join_date,date_of_birth,brand
0,298,1,2014-01-01 00:00:00,5,127.64,2,desktop,2014-01-01 00:00:00,13244,2012-04-15 23:31:04,1986-08-18,A
1,10,1,2014-01-01 00:09:45,5,57.39,2,desktop,2014-01-01 00:00:00,13244,2012-04-15 23:31:04,1986-08-18,A
2,495,1,2014-01-01 00:14:05,5,69.45,2,desktop,2014-01-01 00:00:00,13244,2012-04-15 23:31:04,1986-08-18,A
3,460,10,2014-01-01 02:33:50,5,123.19,2,tablet,2014-01-01 02:31:40,13244,2012-04-15 23:31:04,1986-08-18,A
4,302,10,2014-01-01 02:37:05,5,64.47,2,tablet,2014-01-01 02:31:40,13244,2012-04-15 23:31:04,1986-08-18,A
5,212,10,2014-01-01 02:41:25,5,52.28,2,tablet,2014-01-01 02:31:40,13244,2012-04-15 23:31:04,1986-08-18,A
6,440,10,2014-01-01 02:44:40,5,50.45,2,tablet,2014-01-01 02:31:40,13244,2012-04-15 23:31:04,1986-08-18,A
7,405,15,2014-01-01 03:42:05,5,47.39,2,desktop,2014-01-01 03:41:00,13244,2012-04-15 23:31:04,1986-08-18,A
8,180,15,2014-01-01 03:48:35,5,146.81,2,desktop,2014-01-01 03:41:00,13244,2012-04-15 23:31:04,1986-08-18,A
9,220,16,2014-01-01 03:55:05,5,135.48,2,desktop,2014-01-01 03:49:40,13244,2012-04-15 23:31:04,1986-08-18,A
10,253,17,2014-01-01 04:00:30,5,41.95,2,tablet,2014-01-01 04:00:30,13244,2012-04-15 23:31:04,1986-08-18,A
11,340,17,2014-01-01 04:08:05,5,100.99,2,tablet,2014-01-01 04:00:30,13244,2012-04-15 23:31:04,1986-08-18,A
12,301,31,2014-01-01 07:49:05,5,66.86,2,mobile,2014-01-01 07:42:35,13244,2012-04-15 23:31:04,1986-08-18,A
13,346,31,2014-01-01 07:51:15,5,18.81,2,mobile,2014-01-01 07:42:35,13244,2012-04-15 23:31:04,1986-08-18,A
14,161,31,2014-01-01 07:55:35,5,75.96,2,mobile,2014-01-01 07:42:35,13244,2012-04-15 23:31:04,1986-08-18,A
15,420,31,2014-01-01 07:59:55,5,66.10,2,mobile,2014-01-01 07:42:35,13244,2012-04-15 23:31:04,1986-08-18,A
16,468,33,2014-01-01 08:11:50,5,46.99,2,mobile,2014-01-01 08:10:45,13244,2012-04-15 23:31:04,1986-08-18,A
17,281,33,2014-01-01 08:15:05,5,86.81,2,mobile,2014-01-01 08:10:45,13244,2012-04-15 23:31:04,1986-08-18,A
18,270,2,2014-01-01 00:18:25,5,123.53,5,mobile,2014-01-01 00:17:20,60091,2010-07-17 05:27:50,1984-07-28,A
19,453,2,2014-01-01 00:19:30,5,9.32,5,mobile,2014-01-01 00:17:20,60091,2010-07-17 05:27:50,1984-07-28,A
20,74,2,2014-01-01 00:23:50,5,90.69,5,mobile,2014-01-01 00:17:20,60091,2010-07-17 05:27:50,1984-07-28,A
21,207,2,2014-01-01 00:24:55,5,48.27,5,mobile,2014-01-01 00:17:20,60091,2010-07-17 05:27:50,1984-07-28,A
22,122,2,2014-01-01 00:27:05,5,13.81,5,mobile,2014-01-01 00:17:20,60091,2010-07-17 05:27:50,1984-07-28,A
23,40,20,2014-01-01 04:46:00,5,53.22,5,desktop,2014-01-01 04:46:00,60091,2010-07-17 05:27:50,1984-07-28,A
24,377,20,2014-01-01 05:01:10,5,83.33,5,desktop,2014-01-01 04:46:00,60091,2010-07-17 05:27:50,1984-07-28,A
25,206,24,2014-01-01 05:48:50,5,61.30,5,tablet,2014-01-01 05:44:30,60091,2010-07-17 05:27:50,1984-07-28,A
26,94,24,2014-01-01 05:55:20,5,100.42,5,tablet,2014-01-01 05:44:30,60091,2010-07-17 05:27:50,1984-07-28,A
27,84,24,2014-01-01 05:57:30,5,75.75,5,tablet,2014-01-01 05:44:30,60091,2010-07-17 05:27:50,1984-07-28,A
28,256,28,2014-01-01 06:51:40,5,101.39,5,mobile,2014-01-01 06:50:35,60091,2010-07-17 05:27:50,1984-07-28,A
29,292,28,2014-01-01 06:53:50,5,138.17,5,mobile,2014-01-01 06:50:35,60091,2010-07-17 05:27:50,1984-07-28,A
...,...,...,...,...,...,...,...,...,...,...,...,...
470,309,26,2014-01-01 06:33:15,1,27.33,1,tablet,2014-01-01 06:17:00,60091,2011-04-17 10:48:33,1994-07-18,B
471,457,27,2014-01-01 06:37:35,1,19.16,1,mobile,2014-01-01 06:34:20,60091,2011-04-17 10:48:33,1994-07-18,B
472,448,27,2014-01-01 06:41:55,1,105.58,1,mobile,2014-01-01 06:34:20,60091,2011-04-17 10:48:33,1994-07-18,B
473,470,27,2014-01-01 06:43:00,1,87.94,1,mobile,2014-01-01 06:34:20,60091,2011-04-17 10:48:33,1994-07-18,B
474,89,29,2014-01-01 07:20:55,1,84.98,1,mobile,2014-01-01 07:10:05,60091,2011-04-17 10:48:33,1994-07-18,B
475,223,7,2014-01-01 01:40:45,1,54.35,3,tablet,2014-01-01 01:39:40,13244,2011-08-13 15:42:34,2003-11-21,B
476,379,7,2014-01-01 01:41:50,1,25.28,3,tablet,2014-01-01 01:39:40,13244,2011-08-13 15:42:34,2003-11-21,B
477,383,7,2014-01-01 01:42:55,1,74.41,3,tablet,2014-01-01 01:39:40,13244,2011-08-13 15:42:34,2003-11-21,B
478,489,7,2014-01-01 01:54:50,1,58.70,3,tablet,2014-01-01 01:39:40,13244,2011-08-13 15:42:34,2003-11-21,B
479,202,19,2014-01-01 04:27:35,1,70.27,3,desktop,2014-01-01 04:27:35,13244,2011-08-13 15:42:34,2003-11-21,B
480,264,19,2014-01-01 04:31:55,1,24.68,3,desktop,2014-01-01 04:27:35,13244,2011-08-13 15:42:34,2003-11-21,B
481,130,19,2014-01-01 04:33:00,1,17.28,3,desktop,2014-01-01 04:27:35,13244,2011-08-13 15:42:34,2003-11-21,B
482,17,19,2014-01-01 04:37:20,1,16.98,3,desktop,2014-01-01 04:27:35,13244,2011-08-13 15:42:34,2003-11-21,B
483,446,19,2014-01-01 04:39:30,1,120.05,3,desktop,2014-01-01 04:27:35,13244,2011-08-13 15:42:34,2003-11-21,B
484,82,23,2014-01-01 05:35:50,1,42.96,3,desktop,2014-01-01 05:32:35,13244,2011-08-13 15:42:34,2003-11-21,B
485,219,23,2014-01-01 05:38:00,1,93.32,3,desktop,2014-01-01 05:32:35,13244,2011-08-13 15:42:34,2003-11-21,B
486,480,25,2014-01-01 05:59:40,1,91.76,3,desktop,2014-01-01 05:59:40,13244,2011-08-13 15:42:34,2003-11-21,B
487,373,25,2014-01-01 06:00:45,1,26.99,3,desktop,2014-01-01 05:59:40,13244,2011-08-13 15:42:34,2003-11-21,B
488,68,25,2014-01-01 06:02:55,1,26.30,3,desktop,2014-01-01 05:59:40,13244,2011-08-13 15:42:34,2003-11-21,B
489,33,25,2014-01-01 06:06:10,1,94.42,3,desktop,2014-01-01 05:59:40,13244,2011-08-13 15:42:34,2003-11-21,B
490,55,25,2014-01-01 06:13:45,1,129.03,3,desktop,2014-01-01 05:59:40,13244,2011-08-13 15:42:34,2003-11-21,B
491,61,34,2014-01-01 08:27:00,1,127.36,3,desktop,2014-01-01 08:24:50,13244,2011-08-13 15:42:34,2003-11-21,B
492,284,34,2014-01-01 08:36:45,1,30.04,3,desktop,2014-01-01 08:24:50,13244,2011-08-13 15:42:34,2003-11-21,B
493,427,34,2014-01-01 08:42:10,1,16.75,3,desktop,2014-01-01 08:24:50,13244,2011-08-13 15:42:34,2003-11-21,B
494,237,34,2014-01-01 08:43:15,1,108.01,3,desktop,2014-01-01 08:24:50,13244,2011-08-13 15:42:34,2003-11-21,B
495,14,35,2014-01-01 08:46:30,1,51.20,3,mobile,2014-01-01 08:44:20,13244,2011-08-13 15:42:34,2003-11-21,B
496,374,35,2014-01-01 08:49:45,1,60.51,3,mobile,2014-01-01 08:44:20,13244,2011-08-13 15:42:34,2003-11-21,B
497,118,35,2014-01-01 08:50:50,1,108.50,3,mobile,2014-01-01 08:44:20,13244,2011-08-13 15:42:34,2003-11-21,B
498,331,35,2014-01-01 08:54:05,1,17.58,3,mobile,2014-01-01 08:44:20,13244,2011-08-13 15:42:34,2003-11-21,B
499,276,35,2014-01-01 08:58:25,1,10.94,3,mobile,2014-01-01 08:44:20,13244,2011-08-13 15:42:34,2003-11-21,B

In [3]:
deps = an.find_dependencies(df)

100%|██████████| 10/10 [00:03<00:00,  3.04it/s]

In [4]:
print(deps)

 {transaction_time}  --> transaction_id
 {transaction_id}  {session_start}  {transaction_time}  {amount}  --> session_id
 {transaction_id}  --> transaction_time
 {transaction_id}  {transaction_time}  {amount}  --> product_id
 {transaction_id}  {transaction_time}  --> amount
 {transaction_id}  {date_of_birth}  {session_start}  {amount}  {join_date}  {transaction_time}  {session_id}  --> customer_id
 {transaction_id}  {session_start}  {amount}  {transaction_time}  {session_id}  --> device
 {transaction_id}  {transaction_time}  {amount}  {session_id}  --> session_start
 {transaction_id}  {date_of_birth}  {session_start}  {amount}  {join_date}  {transaction_time}  {customer_id}  {session_id}  --> zip_code
 {transaction_id}  {date_of_birth}  {session_start}  {amount}  {transaction_time}  {customer_id}  {session_id}  --> join_date
 {transaction_id}  {session_start}  {amount}  {join_date}  {transaction_time}  {customer_id}  {session_id}  --> date_of_birth
 {transaction_id}  {product_id}  {transaction_time}  {amount}  --> brand

In [5]:
entityset = an.make_entityset(df, deps, name="Customer Transactions", time_index='transaction_time')

In [6]:
entityset.plot()

In [7]:
import featuretools as ft
fm, features = ft.dfs(entityset=entityset, target_entity='amount')
features

[<Feature: product_id>,
 <Feature: session_start>,
 <Feature: COUNT(transaction_id)>,
 <Feature: session_start.session_id>,
 <Feature: session_start.device>,
 <Feature: session_start.date_of_birth>,
 <Feature: product_id.brand>,
 <Feature: NUM_UNIQUE(transaction_id.DAY(transaction_time))>,
 <Feature: NUM_UNIQUE(transaction_id.YEAR(transaction_time))>,
 <Feature: NUM_UNIQUE(transaction_id.MONTH(transaction_time))>,
 <Feature: NUM_UNIQUE(transaction_id.WEEKDAY(transaction_time))>,
 <Feature: MODE(transaction_id.DAY(transaction_time))>,
 <Feature: MODE(transaction_id.YEAR(transaction_time))>,
 <Feature: MODE(transaction_id.MONTH(transaction_time))>,
 <Feature: MODE(transaction_id.WEEKDAY(transaction_time))>,
 <Feature: session_start.COUNT(amount)>,
 <Feature: session_start.NUM_UNIQUE(amount.product_id)>,
 <Feature: session_start.MODE(amount.product_id)>,
 <Feature: session_start.COUNT(transaction_id)>,
 <Feature: session_start.date_of_birth.customer_id>,
 <Feature: session_start.date_of_birth.zip_code>,
 <Feature: product_id.COUNT(amount)>,
 <Feature: product_id.NUM_UNIQUE(amount.session_start)>,
 <Feature: product_id.MODE(amount.session_start)>,
 <Feature: product_id.COUNT(transaction_id)>]