In [2]:
import os
import user_interaction
import normalize
import pandas as pd

In [3]:
crime_df = pd.read_csv(os.path.join(os.getcwd(), 'crime.csv'))
crime_df = crime_df.drop(columns=crime_df.columns[10:])
crime_df = crime_df.dropna()
crime_df = crime_df.drop_duplicates()

/usr/local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
pollution_df = pd.read_csv(os.path.join(os.getcwd(), 'pollution.csv'))
pollution_df = pollution_df.drop(columns=pollution_df.columns[9:])

In [6]:
food_df = pd.read_csv(os.path.join(os.getcwd(), 'food.csv'), encoding='latin1')
food_df = food_df.drop(columns=food_df.columns[10:])

In [8]:
liquor_df = pd.read_csv(os.path.join(os.getcwd(), 'liquor.csv'))
liquor_df = liquor_df.drop(columns=liquor_df.columns[12:])
liquor_df = liquor_df.drop(range(3000000, 12591077))
liquor_df = liquor_df.dropna()
liquor_df = liquor_df.drop_duplicates()

In [9]:
auto_norm_dfs = user_interaction.auto_normalize(food_df)
for df in auto_norm_dfs:
    print(df)

deps = user_interaction.find_dependencies(food_df)
print(deps)
new_grps = normalize.normalize(deps)
for x in new_grps:
    print('\n ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ \n')
    print(x)

       Area Code  Item Code  Element Code Element
0              2       2511          5142    Food
1              2       2805          5142    Food
2              2       2513          5521    Feed
3              2       2513          5142    Food
4              2       2514          5521    Feed
5              2       2514          5142    Food
6              2       2517          5142    Food
7              2       2520          5142    Food
8              2       2531          5142    Food
9              2       2536          5521    Feed
10             2       2537          5521    Feed
11             2       2542          5142    Food
12             2       2543          5142    Food
13             2       2745          5142    Food
14             2       2549          5521    Feed
15             2       2549          5142    Food
16             2       2551          5142    Food
17             2       2560          5142    Food
18             2       2561          5142    Food
19             2       2563          5142    Food
20             2       2571          5142    Food
21             2       2572          5142    Food
22             2       2573          5142    Food
23             2       2574          5142    Food
24             2       2575          5142    Food
25             2       2577          5142    Food
26             2       2579          5142    Food
27             2       2580          5142    Food
28             2       2586          5142    Food
29             2       2601          5142    Food
...          ...        ...           ...     ...
21447        181       2765          5142    Food
21448        181       2766          5142    Food
21449        181       2767          5142    Food
21450        181       2775          5142    Food
21451        181       2680          5142    Food
21452        181       2905          5521    Feed
21453        181       2905          5142    Food
21454        181       2907          5142    Food
21455        181       2908          5142    Food
21456        181       2909          5142    Food
21457        181       2911          5142    Food
21458        181       2912          5142    Food
21459        181       2913          5521    Feed
21460        181       2913          5142    Food
21461        181       2914          5142    Food
21462        181       2918          5142    Food
21463        181       2919          5142    Food
21464        181       2922          5142    Food
21465        181       2923          5142    Food
21466        181       2924          5142    Food
21467        181       2943          5142    Food
21468        181       2945          5142    Food
21469        181       2946          5142    Food
21470        181       2949          5142    Food
21471        181       2948          5521    Feed
21472        181       2948          5142    Food
21473        181       2960          5521    Feed
21474        181       2960          5142    Food
21475        181       2961          5142    Food
21476        181       2928          5142    Food

[21477 rows x 4 columns]
      Item Code                          Item
0          2511            Wheat and products
1          2805      Rice (Milled Equivalent)
2          2513           Barley and products
4          2514            Maize and products
6          2517           Millet and products
7          2520                Cereals, Other
8          2531         Potatoes and products
9          2536                    Sugar cane
10         2537                    Sugar beet
11         2542        Sugar (Raw Equivalent)
12         2543             Sweeteners, Other
13         2745                         Honey
14         2549    Pulses, Other and products
16         2551             Nuts and products
17         2560         Coconuts - Incl Copra
18         2561                   Sesame seed
19         2563  Olives (including preserved)
20         2571                  Soyabean Oil
21         2572                 Groundnut Oil
22         2573             Sunflowerseed Oil
23         2574          Rape and Mustard Oil
24         2575                Cottonseed Oil
25         2577                      Palm Oil
26         2579                Sesameseed Oil
27         2580                     Olive Oil
28         2586           Oilcrops Oil, Other
29         2601         Tomatoes and products
30         2605             Vegetables, Other
31         2611           Oranges, Mandarines
32         2614                 Citrus, Other
...         ...                           ...
119        2570               Oilcrops, Other
126        2582                Maize Germ Oil
129        2602                        Onions
133        2612    Lemons, Limes and products
134        2613       Grapefruit and products
137        2616                     Plantains
147        2641                       Pimento
151        2657          Beverages, Fermented
155        2733                       Pigmeat
162        2781                Fish, Body Oil
163        2782               Fish, Liver Oil
168        2762                 Demersal Fish
169        2763                  Pelagic Fish
171        2764            Marine Fish, Other
172        2765                   Crustaceans
173        2766                   Cephalopods
174        2767               Molluscs, Other
175        2769       Aquatic Animals, Others
176        2775                Aquatic Plants
204        2961       Aquatic Products, Other
241        2562                  Palm kernels
249        2578                   Coconut Oil
274        2642                        Cloves
360        2576                Palmkernel Oil
452        2535                          Yams
464        2557                Sunflower seed
1114       2559                    Cottonseed
1337       2541         Sugar non-centrifugal
1362       2581                  Ricebran Oil
3492       2768         Meat, Aquatic Mammals

[117 rows x 2 columns]
       Area Code                                       Area
0              2                                Afghanistan
83             3                                    Albania
206            4                                    Algeria
330            7                                     Angola
439            8                        Antigua and Barbuda
556            9                                  Argentina
679            1                                    Armenia
812           10                                  Australia
940           11                                    Austria
1079          52                                 Azerbaijan
1203          12                                    Bahamas
1319          16                                 Bangladesh
1442          14                                   Barbados
1563          57                                    Belarus
1694         255                                    Belgium
1830          23                                     Belize
1942          53                                      Benin
2059          17                                    Bermuda
2162          19           Bolivia (Plurinational State of)
2284          80                     Bosnia and Herzegovina
2408          20                                   Botswana
2533          21                                     Brazil
2670          26                          Brunei Darussalam
2790          27                                   Bulgaria
2924         233                               Burkina Faso
3039          35                                 Cabo Verde
3145         115                                   Cambodia
3261          32                                   Cameroon
3386          33                                     Canada
3526          37                   Central African Republic
...          ...                                        ...
17818        203                                      Spain
17968         38                                  Sri Lanka
18095        276                                      Sudan
18199        207                                   Suriname
18315        209                                  Swaziland
18432        210                                     Sweden
18574        211                                Switzerland
18715        208                                 Tajikistan
18817        216                                   Thailand
18948        154  The former Yugoslav Republic of Macedonia
19078        176                                Timor-Leste
19164        217                                       Togo
19279        220                        Trinidad and Tobago
19396        222                                    Tunisia
19522        223                                     Turkey
19650        213                               Turkmenistan
19740        226                                     Uganda
19867        230                                    Ukraine
20001        225                       United Arab Emirates
20122        229                             United Kingdom
20265        215                United Republic of Tanzania
20394        231                   United States of America
20535        234                                    Uruguay
20659        235                                 Uzbekistan
20782        155                                    Vanuatu
20878        236         Venezuela (Bolivarian Republic of)
21008        237                                   Viet Nam
21117        249                                      Yemen
21236        251                                     Zambia
21356        181                                   Zimbabwe

[174 rows x 2 columns]
      Area Abbreviation                                       Area  latitude  \
0                   AFG                                Afghanistan     33.94
83                  ALB                                    Albania     41.15
206                 DZA                                    Algeria     28.03
330                 AGO                                     Angola    -11.20
439                 ATG                        Antigua and Barbuda     17.06
556                 ARG                                  Argentina    -38.42
679                 ARM                                    Armenia     40.07
812                 AUS                                  Australia    -25.27
940                 AUT                                    Austria     47.52
1079                AZE                                 Azerbaijan     40.14
1203                AZE                                    Bahamas     25.03
1319                BGD                                 Bangladesh     23.68
1442                BRB                                   Barbados     13.19
1563                BLR                                    Belarus     53.71
1694                BEL                                    Belgium     50.50
1830                BLZ                                     Belize     17.19
1942                BEN                                      Benin      9.31
2059                BMU                                    Bermuda     32.32
2162                BOL           Bolivia (Plurinational State of)    -16.29
2284                BIH                     Bosnia and Herzegovina     43.92
2408                BWA                                   Botswana    -22.33
2533                BRA                                     Brazil    -14.24
2670                BRN                          Brunei Darussalam      4.54
2790                BGR                                   Bulgaria     42.73
2924                BFA                               Burkina Faso     12.24
3039                CPV                                 Cabo Verde     16.00
3145                KHM                                   Cambodia     12.57
3261                CMR                                   Cameroon      7.37
3386                CAN                                     Canada     56.13
3526                CAF                   Central African Republic      6.61
...                 ...                                        ...       ...
17818               ESP                                      Spain     40.46
17968               LKA                                  Sri Lanka      7.87
18095               SDN                                      Sudan     12.86
18199               SUR                                   Suriname      3.92
18315               SWZ                                  Swaziland    -26.52
18432               SWE                                     Sweden     60.13
18574               CHE                                Switzerland     46.82
18715               TJK                                 Tajikistan     38.86
18817               THA                                   Thailand     15.87
18948               THA  The former Yugoslav Republic of Macedonia     41.61
19078               TLS                                Timor-Leste     -8.87
19164               TGO                                       Togo      8.62
19279               TTO                        Trinidad and Tobago     10.69
19396               TUN                                    Tunisia     33.89
19522               TUR                                     Turkey     38.96
19650               TKM                               Turkmenistan     38.97
19740               UGA                                     Uganda      1.37
19867               UKR                                    Ukraine     48.38
20001               ARE                       United Arab Emirates     23.42
20122               GBR                             United Kingdom     55.38
20265               TZA                United Republic of Tanzania     -6.37
20394               USA                   United States of America     37.09
20535               URY                                    Uruguay    -32.52
20659               UZB                                 Uzbekistan     41.38
20782               VUT                                    Vanuatu    -15.38
20878               VEN         Venezuela (Bolivarian Republic of)      6.42
21008               VNM                                   Viet Nam     14.06
21117               YEM                                      Yemen     15.55
21236               ZMB                                     Zambia    -13.13
21356               ZWE                                   Zimbabwe    -19.02

       longitude
0          67.71
83         20.17
206         1.66
330        17.87
439       -61.80
556       -63.62
679        45.04
812       133.78
940        14.55
1079       47.58
1203      -77.40
1319       90.36
1442      -59.54
1563       27.95
1694        4.47
1830      -88.50
1942        2.32
2059      -64.76
2162      -63.59
2284       17.68
2408       24.68
2533      -51.93
2670      114.73
2790       25.49
2924       -1.56
3039      -24.01
3145      104.99
3261       12.35
3386     -106.35
3526       20.94
...          ...
17818      -3.75
17968      80.77
18095      30.22
18199     -56.03
18315      31.47
18432      18.64
18574       8.23
18715      71.28
18817     100.99
18948      21.75
19078     125.73
19164       0.82
19279     -61.22
19396       9.54
19522      35.24
19650      59.56
19740      32.29
19867      31.17
20001      53.85
20122      -3.44
20265      34.89
20394     -95.71
20535     -55.77
20659      64.59
20782     166.96
20878     -66.59
21008     108.28
21117      48.52
21236      27.85
21356      29.15

[174 rows x 4 columns]
      Area Abbreviation         Unit
0                   AFG  1000 tonnes
83                  ALB  1000 tonnes
206                 DZA  1000 tonnes
330                 AGO  1000 tonnes
439                 ATG  1000 tonnes
556                 ARG  1000 tonnes
679                 ARM  1000 tonnes
812                 AUS  1000 tonnes
940                 AUT  1000 tonnes
1079                AZE  1000 tonnes
1319                BGD  1000 tonnes
1442                BRB  1000 tonnes
1563                BLR  1000 tonnes
1694                BEL  1000 tonnes
1830                BLZ  1000 tonnes
1942                BEN  1000 tonnes
2059                BMU  1000 tonnes
2162                BOL  1000 tonnes
2284                BIH  1000 tonnes
2408                BWA  1000 tonnes
2533                BRA  1000 tonnes
2670                BRN  1000 tonnes
2790                BGR  1000 tonnes
2924                BFA  1000 tonnes
3039                CPV  1000 tonnes
3145                KHM  1000 tonnes
3261                CMR  1000 tonnes
3386                CAN  1000 tonnes
3526                CAF  1000 tonnes
3635                TCD  1000 tonnes
...                 ...          ...
17678               ZAF  1000 tonnes
17818               ESP  1000 tonnes
17968               LKA  1000 tonnes
18095               SDN  1000 tonnes
18199               SUR  1000 tonnes
18315               SWZ  1000 tonnes
18432               SWE  1000 tonnes
18574               CHE  1000 tonnes
18715               TJK  1000 tonnes
18817               THA  1000 tonnes
19078               TLS  1000 tonnes
19164               TGO  1000 tonnes
19279               TTO  1000 tonnes
19396               TUN  1000 tonnes
19522               TUR  1000 tonnes
19650               TKM  1000 tonnes
19740               UGA  1000 tonnes
19867               UKR  1000 tonnes
20001               ARE  1000 tonnes
20122               GBR  1000 tonnes
20265               TZA  1000 tonnes
20394               USA  1000 tonnes
20535               URY  1000 tonnes
20659               UZB  1000 tonnes
20782               VUT  1000 tonnes
20878               VEN  1000 tonnes
21008               VNM  1000 tonnes
21117               YEM  1000 tonnes
21236               ZMB  1000 tonnes
21356               ZWE  1000 tonnes

[169 rows x 2 columns]

 {Area Code}  {Area}  --> Area Abbreviation
 {Area}  --> Area Code
 {Area Code}  --> Area
 --> Item Code
 {Item Code}  --> Item
 --> Element Code
 --> Element
 {Element Code}  {Area Abbreviation}  {Area Code}  {Element}  {Area}  {latitude}  {longitude}  {Item Code}  {Item}  --> Unit
 {Area Code}  {Area}  --> latitude
 {Area Code}  {Area}  --> longitude
 --> Area Code
 --> Item Code
 --> Element Code
 --> Element

 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~

 --> Item Code
 {Item Code}  --> Item

 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~

 --> Area Code
 {Area Code}  --> Area

 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~

 --> Area
 {Area}  --> Area Abbreviation
 {Area}  --> latitude
 {Area}  --> longitude

 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~

 --> Area Abbreviation
 {Area Abbreviation}  --> Unit

 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~

In [ ]:
def demo_df(df):
    auto_norm_dfs = user_interaction.auto_normalize(df)
    for x in auto_norm_dfs:
        print(df)
    deps = user_interaction.find_dependencies(df)
    print(deps)
    new_grps = normalize.normalize(deps)
    for x in new_grps:
        print('\n ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ \n')
        print(x)